<h1 >General Person</h1>
<div class= "container"> 
    <div class="row">
    
        <div class="col text-center bg-light ">
            <div class="d-block">
                <%= image_tag( image_person_url(@person_service) ) %>
            </div>
            <div class="d-block my-2">
                <strong>
                    <%= name_title(@person_service) %>
                    <%= name_first(@person_service) %>
                    <%= name_last(@person_service) %>
                </strong>
            </div>
            <div class="d-block">
              <%= gender(@person_service) %>
            </div>
            <div class="d-block">
              <%=  email(@person_service) %>
            </div>
  
              <%= form_with(model: person) do |form| %>
                <% if person.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

                    <ul>
                      <% person.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div>
                  <%= form.hidden_field :title, value: name_title(@person_service)  %>
                </div>

                <div>
                  <%= form.hidden_field :first, value: name_first(@person_service) %>
                </div>

                <div>
                  <%= form.hidden_field :last, value: name_last(@person_service) %>
                </div>

                <div>
                  <%= form.hidden_field :gender, value: gender(@person_service) %>
                </div>

                <div>
                  <%= form.hidden_field :email, value:  email(@person_service) %>
                </div>

                <div>
                  <%= form.file_field :photo %>
                </div>

                <div>
                  <%= form.submit "Save this person", class:"btn btn-info my-2" %>
                </div>
              <% end %>
      </div>
    </div>
</div>
