<h1 >General Person</h1>
<div class= "container"> 
    <div class="row">
    
        <div class="col text-center bg-light ">
            <div class="d-block">
                <%= image_tag(@person_service['results'][0]['picture']['large']) %>
            </div>
            <div class="d-block my-2">
                <strong>
                    <%= @person_service['results'][0]['name']['title'] %>
                    <%= @person_service['results'][0]['name']['first'] %>
                    <%= @person_service['results'][0]['name']['last'] %>
                </strong>
            </div>
            <div class="d-block">
              <%= @person_service['results'][0]['gender'] %>
            </div>
            <div class="d-block">
              <%= @person_service['results'][0]['email'] %>
            </div>
            <div class="btn btn-info my-2">
                Save this person
            </div>
        </div>

    </div>
</div>

<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.text_field :first %>
  </div>

  <div>
    <%= form.text_field :last %>
  </div>

  <div>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
