<div id="<%= dom_id person %>">
  <p>
    <strong>Imagem:</strong>
    <%= image_tag(person.photo) if person.photo.attached? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= person.title %>
  </p>

  <p>
    <strong>First:</strong>
    <%= person.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= person.last %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
